:root {
      --keralaGreen: #004700; 
      --keralaNight: #000d08;
      --keralaShade: #001d08;
      --munnarTeaGarden: #00aa00;
      --ripeMango: #ff6600; 
      --mountainFog: #f0fff8; 
      --monsoonCloud: #333849;
      --backwaterBlue: #032094;
    }
    