:root {
      --keralaGreen: #004700; 
      --keralaNight: #000d08;
      --keralaShade: #001d08;
      --munnarTeaGarden: #00aa00;
      --ripeMango: #ff6600; 
      --mountainFog: #f0fff8; 
      --monsoonCloud: #333849;
      --backwaterBlue: #032094;
    }

body {
        background-color: var(--keralaGreen);
        color: var(--mountainFog); 
        font-family: Arial, Helvetica, sans-serif; 
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        margin: 0; 
    }

    /* 
    - if more than one link, make into dropdown menu 
    - highlight on mouseover 
    */
    .topNav {
    display: flex; 
    flex-direction: column;
    height:fit-content; 
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--keralaNight);
    justify-content: space-evenly;
    align-items: center; 
    padding: 10px; 
    box-sizing: border-box;
    }

        .topNav > a {
        color: var(--mountainFog); 
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        }

    .header {
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
        text-align: center;
        width: 90%; 
        margin-top: 3vh; 
        margin-left: 5%;
        margin-right: 5%;  
        padding-top: 10px; 
        box-sizing: border-box; 
        min-height: 10vh;
    }
 

    .mainContainer {
        margin-bottom: 10px; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        width:100vw; 
        box-sizing: border-box;
    }

    /* defaults for all containers within .maincontainer */

    .container { 
        box-sizing: border-box;
        width: 90%; 
        margin: 5%; 
        padding: 20px;
        border: solid var(--mountainFog) 3px; 
        box-shadow: 3px 3px #001d08;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .containerTitle {
        align-self: center;
    }


    .mapContainer {
      align-self: center;
    }

      .mapImage {                                 
      height: auto;                  
      aspect-ratio: 1 / 1; }

  .footer {
        margin: 20px; 
        box-sizing: border-box;
        text-align: center;
    }

@media only screen and (min-width: 768px) {

  .topNav {
     display: flex; 
     flex-direction: row;
    }

  .mainContainer {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    width: 100vw;
    min-height: fit-content; 
    border-top: 3px solid var(--mountainFog); 
  }

    .container {
      width: 43%; 
      min-height: fit-content;
      border: none; 
      box-shadow: none;
      justify-content: flex-start;
      padding-top: 5vh;
      align-self: baseline;
    }

    .image {
      max-height: 90%;
      width: auto; 
      padding: auto; 
      justify-self: center;
    }

    .mapContainer {
      align-self: flex-start;
    }


}
